.board {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8e9bb0;
  width: 98%;
  height: 98%;
  cursor: pointer;
}