.title,
.status {
  text-align: center;
  color: #ffc575;
}

.board {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #171a1f;;
  width: 98%;
  height: 98%;
  cursor: pointer;
  color: #ffc575;
}

.value {
  font-size: 50px;
}

.resetButton {
  text-align: center;
}

.resetButton .btn {
  background: none;
    padding: 10px 20px;
    font-size: 15px;
    color: #ffc575;
}